@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');
body {
    background: black;
    height: 95vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}

.content {
    color: #17D4FE;
    font-size: 60px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-style: normal;
    /* letter-spacing: 7px; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

#clock{
    font-size: 200px;
}