@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');

body {
    background: black;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: "IBM Plex Mono", monospace;
    font-style: normal;
    color: #17D4FE;

}
/* nav {
    position: absolute;
    width: 100%;
    z-index: 2;
    background-color:red;
} */

i{
    margin:0;
    padding:0;
}

.container {
    position: absolute;
    width: 100vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color:yellow; */
}

button{
    all: unset;
    cursor: pointer;
    font-size:4vw;
    text-decoration: underline;
}

#seeCode{
    position: absolute;
    top: 0;
    right:3vh;
    color:#0f5e6f;
    font-size: 5vh;
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 6vw;
    font-weight: 500;   
    /* background-color: red; */
}

#clock {
    font-size: 15vw;
}