@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');

body {
    background: black;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: "IBM Plex Mono", monospace;
    font-style: normal;
    color: #17D4FE;

}

i{
    margin:0;
    padding:0;
}

.container {
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color:yellow; */
}

button{
    all: unset;
    cursor: pointer;
    font-size:4vw;
    text-decoration: underline;
}

button:hover{
    color:#b4e1eb;
    transition: 0.3s;
}

#github{
    position: absolute;
    top: 1vh;
    right:2vh;
    color:#0f5e6f;
    font-size: 5vh;
}

#github:hover{
    color:inherit;
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;   
}

#calendar{
    font-size: 6vw;
}

#clock {
    font-size: 15vw;
}

/* Viewpoint taller than wide (mobile) */
@media (max-aspect-ratio: 1/1) {
    .container{
        height: 65vh;
    }
    .content{
        height: 20vh;
        justify-content: space-around;
    }
    #calendar{
        font-size: 7vw;
    }
    button{
        font-size: 5vw;
    }
  }